<h3>Edit Record</h3>
<h6>ID: {{patient._id}}</h6>
<div class="row">
    <form action="/patients/{{patient._id}}" method="POST" class="col s12">
        <input type="hidden" name="_method" value="PUT">
        <div class="row">
            <div class="input-field">
                <input type="text" id="name" name="name" value="{{patient.name}}">
                <label for="name">Name</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field">
                <input type="text" id="age" name="age" value="{{patient.age}}">
                <label for="name">DOB</label>
            </div>
        </div>
         <div class="row">
            <div class="input-field">
                <input type="text" id="diagnosis" name="diagnosis" value="{{patient.diagnosis}}">
                <label for="name">Diagnosis</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field">
                <select id="status" name="status">
                    {{#select story.status}}
                    <option value="public" selected>Public</option>
                    <option value="private">Private</option>
                    {{/select}}
                </select>
                <label for="status">Status</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field">
                <h5>Notes:</h5>
                <textarea id="body" name="body">{{patient.body}}</textarea>
            </div>
        </div>

        <div class="row">
            <input type="submit" value="Save" class="btn">
            <a href="/dashboard" class="btn orange">Cancel</a>
        </div>
    </form>
</div>